<div class="container">
	<h1>Listing sources</h1>

	<table class="zebra-striped">
	  <tr>
	    <th>Url</th>
		<th>Link</th>
	    <th>Language</th>
	    <th>Words</th>
		<th>Max. Intern Links</th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @sources.each do |source| %>
	  <tr>
	 	<td><p><%= link_to source.url, source, :class => "btn" %></p></td>
		<td><%= source.link %></td>
	    <td><%= source.language %></td>
	    <td><%= source.words %></td>
		<td><%= source.qtdSubPage %></td>
	    <td><%= link_to 'Edit', edit_source_path(source), :class => "btn small info" %></td>
	    <td><%= link_to 'Destroy', source, :confirm => 'Are you sure?', :method => :delete, :class => "btn small danger"%></td>
	  </tr>
	<% end %>
	</table>

	<br />
	<div class="well">
		<%= link_to 'New Source', new_source_path, :class => "btn large primary"  %>
		<%= link_to 'Generate Word List', word_list_generator_generate_path, :class => "btn large info" %>
	</div>
	
	<h1>Execution LOGs</h1>
	<p>Only the last execution file is persisted!</p>
	<table class="zebra-striped">
	  <tr>
	    <th>Links visited</th>
		<th>Number of words collected</th>
	    <th>Execution start date</th>
		<th>Execution end date</th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @logs.each do |log| %>
	  <tr>
	    <td>
			<% if log.urls != nil
				splited = log.urls.split(";")%>
			
				<ul>
					<% splited.each do |url| 
						if url != ""%>
						<li><%=url%></li>
					<%end 
					end%>
				<ul>
			<%else%>
				---
			<%end%>
		</td>
	    <td><%= log.number_of_words %></td>
		<td><%= log.execution_date.to_s(:pefefeost) %></td>
		<td>
		<% if log.final_execution_date != nil %>
			<%= log.final_execution_date.to_s(:pefefeost) %>
		<%else%>
			---
		<%end%>
		</td>
	    <td><a href="https://s3.amazonaws.com/rails_s3/arquivo.txt" class="btn large success" target="_blank">Download</a></td>
	    <td><%= link_to 'Destroy', log, :confirm => 'Are you sure?', :method => :delete, :class => "btn small danger"%></td>
	  </tr>
	<% end %>
	</table>
</div>

