<div class="container">
	<h1>Listing sources</h1>

	<table class="zebra-striped">
	  <tr>
	    <th>Url</th>
		<th>Link</th>
	    <th>Language</th>
	    <th>Words</th>
		<th>Max. Intern Links</th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @sources.each do |source| %>
	  <tr>
	 	<td><p><%= link_to source.url, source, :class => "btn" %></p></td>
		<td><%= source.link %></td>
	    <td><%= source.language %></td>
	    <td><%= source.words %></td>
		<td><%= source.qtdSubPage %></td>
	    <td><%= link_to 'Edit', edit_source_path(source), :class => "btn small info" %></td>
	    <td><%= link_to 'Destroy', source, :confirm => 'Are you sure?', :method => :delete, :class => "btn small danger"%></td>
	  </tr>
	<% end %>
	</table>

	<br />
	<div class="well">
		<%= link_to 'New Source', new_source_path, :class => "btn large primary"  %>
		<%= link_to 'Generate Word List', word_list_generator_generate_path, :class => "btn large info" %>
	</div>
</div>

