<%= form_for(@log) do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :urls %><br />
    <%= f.text_field :urls %>
  </div>
  <div class="field">
    <%= f.label :execution_date %><br />
    <%= f.date_select :execution_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
